/**************************
* Name: Reset CSS
* Date: 20/05/2018
**************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************
* Name: Global CSS
* Date: 20/05/2018
**************************/
*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #03a9f4;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 700;
}

h2 a {
    color: #222;
    border: 0;
}

img {
    max-width: 100%;
    height: auto!important;
}

p {
    margin: 0 0 20px 0;
}

/**************************
* Name: Header CSS
* Date: 20/05/2018
**************************/
.site-header {
    position: relative;
    display: flex;
    box-align: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 8px solid #ff9800;
    padding: 1rem 0;
}

.logo {
    box-flex: 0;
    flex: 0 0 100px;
    text-align: center;
}

.icon-logo-sky {
    width: 35px;
    height: 35px;
    display: block;
    margin: 0 auto;
    fill: #ccc;
}

.header-middle-area {
    box-flex: 1;
    flex: 1;
}

.header-middle-area a {
    position: relative;
    z-index: 20;
    display: block;
    width: 237.5px;
    height: 30px;
    font-size: 30px;
    text-decoration: none;
}

.signin {
    box-flex: 0;
    flex: 0 0 300px;
}

/**************************
* Name: Main CSS
* Date: 20/05/2018
**************************/
.all-site-wrap {
    display: grid;
    grid-template-columns: 100px 1fr calc(300px + 2rem);
    background-color: #242425;
}

.all-site-wrap .main-nav {
    box-flex: 0;
    flex: 0 0 100px;
    text-align: center;
    position: relative;
    z-index: 30;
    background: #111;
    padding: 20px 0 0 0;
    backface-visibility: hidden;
}

.main-nav > ul > li {
    position: relative;
}

.main-nav > ul > li.active {
    background: #eee;
    color: #000;
}

.main-nav > ul > li.active a {
    color: #000;
}

.main-nav > ul > li > a {
    transition: 0.1s;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    padding: 16px 10px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.main-nav > ul > li > a > svg {
    pointer-events: none;
    width: 40px;
    height: 40px;
    margin: 0 auto 2px;
}

body.home .main-nav > ul > li.home svg {
    stroke: #000;
}

.main-nav .icon-nav-shop, .main-nav .icon-nav-home, .main-nav .icon-nav-video, .main-nav .icon-nav-guide, .main-nav .icon-nav-gallery, .main-nav .icon-nav-snippets, .main-nav .icon-nav-forums, .main-nav .icon-nav-newsletter, .main-nav .icon-nav-jobs {
    stroke: #fff;
    stroke-width: 2;
    fill: none;
}

.main-nav .icon-nav-home {
    fill: none;
    stroke-width: 2;
}

.main-nav:hover > ul > li svg {
    transition: stroke 0.1s;
}

.main-nav:hover > ul > li:nth-child(1) svg {
    transition-delay: 0.2;
    stroke: #ff9800;
}

.main-nav:hover > ul > li:nth-child(2) svg {
    transition-delay: 0.2;
    stroke: #e91e63;
}

.main-nav:hover > ul > li:nth-child(3) svg {
    transition-delay: 0.2;
    stroke: #f44336;
}

.main-nav:hover > ul > li:nth-child(4) svg {
    transition-delay: 0.2;
    stroke: #9c27b0;
}

.main-nav:hover > ul > li:nth-child(5) svg {
    transition-delay: 0.2;
    stroke: #03a9f4;
}

.main-nav:hover > ul > li:nth-child(6) svg {
    transition-delay: 0.2;
    stroke: #4caf50;
}

.main-nav:hover > ul > li:nth-child(7) svg {
    transition-delay: 0.2;
    stroke: #ffeb3b;
}

.main-nav:hover > ul > li:nth-child(8) svg {
    transition-delay: 0.2;
    stroke: #607d8b;
}

.main-nav:hover > ul > li:nth-child(9) svg {
    transition-delay: 0.2;
    stroke: #ff9800;
}


.main-nav:hover > ul > li:nth-child(2) span {
    transition-delay: 0.02;
}

body.home .main-nav > ul > li span {
    font-weight: 500;
}

.all-site-wrap .page-wrap {
    display: block;
    box-flex: 1;
    flex: 1;
    overflow: hidden;
    padding: 20px;
}

.module {
    background: #fff;
    color: #222;
    clear: both;
    margin: 0 0 80px 0;
    position: relative;
    overflow: hidden;
}

.module > :last-child {
    margin-bottom: 0;
}

.page-wrap-home .module {
    max-width: 700px;
    margin: 0 auto 80px auto;
}

.module .attachment-post-thumbnail {
    width: 100%;
    display: block;
}

.module .module-content {
    padding: 40px;
    font-size: 20px;
}

.module .module-content .byline {
    clear: both;
    text-transform: uppercase;
    background: rgba(0, 0, 0, .05);
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
    margin: 20px -40px;
    display: block;
    padding: 10px 40px;
}

.module .module-content .byline a {
    font-weight: 700;
    white-space: nowrap;
}

.module .module-content p {
    line-height: 1.5!important;
}

.tags {
    background: #f1f1f1;
    padding: 8px 40px 10px 40px;
    line-height: 1.3;
    margin-top: 20px;
}

.article-card .tags {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.tags .icon-tag {
    vertical-align: middle;
    width: 17px;
    height: 17px;
    fill: #444;
    margin-right: 13px;
}

.tags a {
    color: #9f9f9f;
    text-transform: uppercase;
    padding: 5px 5px 5px 0;
    font-weight: 900;
    white-space: nowrap;
    font-size: 12px;
}

.sidebar {
    padding: 20px;
    background: rgba(255, 255, 255, .25);
}

.all-site-wrap .sidebar {
    box-flex: 0;
    flex: 0 0 calc(300px + 2rem);
}