/**************************
* Name: Reset CSS
* Date: 20/05/2018
**************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************
* Name: Global CSS
* Date: 20/05/2018
**************************/
*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5px;
    font-size: 14px;
}

/**************************
* Name: Header CSS
* Date: 20/05/2018
**************************/
.site-header {
    position: relative;
    display: flex;
    box-align: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 8px solid #ff9800;
    padding: 1rem 0;
}

.logo {
    box-flex: 0;
    flex: 0 0 100px;
    text-align: center;
}

.icon-logo-sky {
    width: 35px;
    height: 35px;
    display: block;
    margin: 0 auto;
    fill: #ccc;
}

.header-middle-area {
    box-flex: 1;
    flex: 1;
}

.header-middle-area a {
    position: relative;
    z-index: 20;
    display: block;
    width: 237.5px;
    height: 30px;
    font-size: 30px;
    text-decoration: none;
}

.signin {
    box-flex: 0;
    flex: 0 0 300px;
}

/**************************
* Name: Main CSS
* Date: 20/05/2018
**************************/
.all-site-wrap {
    display: grid;
    grid-template-columns: 100px 1fr calc(300px + 2rem);
    background-color: #242425;
}

.all-site-wrap .main-nav {
    box-flex: 0;
    flex: 0 0 100px;
    text-align: center;
    position: relative;
    z-index: 30;
    background: #111;
    padding: 20px 0 0 0;
    backface-visibility: hidden;
}

.main-nav > ul > li {
    position: relative;
}

.main-nav > ul > li.active {
    background: #eee;
    color: #000;
}

.main-nav > ul > li > a {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    padding: 16px 10px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-decoration: none;
}